<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Memory Game</title>
    <script src="angular.js"></script>
    <script src="memorygame.js"></script>
    <link href="style.css" rel="stylesheet">
  </head>
  <body ng-app="memorygame" ng-controller="GameController">
    State: {{state}}, First card: {{firstCard.url}}
    <table class="game">
      <tr ng-repeat="row in cards">
        <td class="card" ng-class="{open: card.open}" ng-click="click(card)" ng-repeat="card in row">
          <div class="front">
            <img class="monster" ng-src="{{card.url}}">
          </div>
          <div class="back">
            <img class="logo" ng-src="images/logo-bw.png">
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
