.board {
  margin: auto;
}

table.game {
  margin: auto;
}

.card {
  perspective: 2000px;
  position: relative;
  width: 200px;
  height: 200px;
}

.card .front, .card .back {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
	top: 0;
	left: 0;
}

.card .front .monster {
  height: 100%;
  width: 100%;
}

.card .back .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .front, .card .back {
  backface-visibility: hidden;
  transition: 0.6s;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  transform: rotateY(0deg);
}

.card.open .back {
  transform: rotateY(180deg);
}

.card.open .front {
  transform: rotateY(0deg);
}
